<mat-toolbar color="primary">
  <a *ngIf="!isLogged; else viewMenu" mat-button></a>
    <span>Category</span>
    <span class="spacer"></span>
    <!-- Con routerLink nosotros le indicamos a donde queremos que se dirija al presionar el boton -->
    <a *ngIf="!isLogged; else viewLogout" mat-button routerLink="/login">Iniciar sesión</a>
</mat-toolbar>

<ng-template #viewLogout>
  <a mat-button (click)="onLogout()">Cerrar sesión</a>
</ng-template>
<ng-template #viewMenu>
  <ng-container>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </ng-container>
</ng-template>

