<mat-card>
  <mat-card-header>
      <mat-card-title>Añadir Categoria</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="addForm">
      <mat-form-field class ="full-whidth" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input formControlName="nombre" matInput required>
      </mat-form-field>

      <mat-form-field class ="full-whidth"appearance="outline">
        <mat-label>Descripción</mat-label>
        <input formControlName="descripcion" matInput required>
      </mat-form-field>

      <mat-form-field  class ="full-whidth"appearance="outline">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="tipo">
          <mat-option >
           

          </mat-option>
        </mat-select>
      </mat-form-field>
    
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button [disabled]="addForm.invalid" mat-raised-button color="primary" (click)="onSave()" align="end">
      <mat-icon>save</mat-icon>Aceptar</button>
  </mat-card-actions>
</mat-card>